<div id="<%= dom_id guest_info %>">
  <p>
    <strong>Booking:</strong>
    <%= guest_info.booking_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= guest_info.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= guest_info.phone_number %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= guest_info.age %>
  </p>

</div>
