<div class='container m-2'>
<%= simple_form_for :filter, url: request.path, method: 'get' do |f| %>
  <%= f.label :month_number, 'Месяц' %>
  <%= f.month_field(:month_number, html_options = { class: 'select-date'}) %>
  <%= f.button :submit, 'Фильтр', class: 'btn btn-primary' %>
<% end %>
<% if !@participations.count.zero? %>
    <h3><%= @month_name %></h3>
    <table class='table shadow table-hover table-striped'>
      <thead>
        <tr>
          <th>Работники</th>
          <% @days.each do |day| %>
            <th><%= day.strftime("%d") %></th>
          <% end %>
          <th>Итого</th>
        </tr>
      </thead>
      <tbody>
        <% @unique_users.each do |user_id| %>
          <tr>
            <th><%= User.find(user_id).name %></th>
            <% @days.each do |day| %>
              <th>
                <%= find_user_part_day(day, User.find(user_id)) %>
              </th>
            <% end %>
            <th><%= calculate_payment_by_participation(user_id, @participations) %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <span class='text-center m-3'>в этом месяце нет участия</span>
  <% end %>
</div>
