<h3>перекличка (<%= Date.current %>)</h3>
<div class='flex'>
  <p>
    <i style='color:green; font-size: large' class="fa-solid fa-check"></i> -
    пришёл
  </p>
  <p>
    <i style='margin: 0; color:red; font-size: large' class="fa-solid fa-xmark"></i> -
    не пришёл
  </p>
  <p>
    <i style='color:yellow; font-size: large' class="fa-regular fa-circle"></i> -
    выходной
  </p>
</div>
<%= simple_form_for :filter, url: accept_new_participation_participations_path do |f| %>
  <table class='table table-hover table-striped'>
    <thead>
      <tr>
        <th>Работники</th>
        <th>
          <div style='display: flex'>
            <abbr title='Here'>
              <i style='color:green; font-size: large' class="fa-solid fa-check"></i>
            </abbr>
            <abbr title='Not here'>
              <i style='margin: 0 10px; color:red; font-size: large' class="fa-solid fa-xmark"></i>
            </abbr>
            <abbr title='free day'>
              <i style='color:yellow; font-size: large' class="fa-regular fa-circle"></i>
            </abbr>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th> <%= link_to user.name, user %></th>
          <th>
            <div style='display: flex; align-items: center;'>
              <%= f.radio_button user.id, 0, checked: true %>
              <%= f.radio_button user.id, 1, style: 'margin: 0 10px' %>
              <%= f.radio_button user.id, 2 %>
            </div>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.button :submit, 'Завершить', class: 'btn-yellow-a btn-success' %>
<% end %>
<br>
<%= button_to 'назад', participations_path, class:'btn btn-danger btn-small', method: :get %>
<br><hr><br>
