<div id="<%= dom_id booking %>">
  <p>
    <strong>Number of people:</strong>
    <%= booking.number_of_people %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= booking.finished_at %>
  </p>

  <p>
    <strong>Breakfast included:</strong>
    <%= booking.breakfast_included %>
  </p>

  <p>
    <strong>Home:</strong>
    <%= booking.home_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= booking.country %>
  </p>

</div>
