<div id="<%= dom_id shift %>">
  <p>
    <strong>User:</strong>
    <%= shift.user_id %>
  </p>

  <p>
    <strong>Closed at:</strong>
    <%= shift.closed_at %>
  </p>

  <p>
    <strong>Total income:</strong>
    <%= shift.total_income %>
  </p>

  <p>
    <strong>Total expenditure:</strong>
    <%= shift.total_expenditure %>
  </p>

</div>
