<div class="card shadow">
  <div class="card-header d-flex justify-content-between align-items-center">
    <% if defined?(hotel) %>
      <h1>HOTEL</h1>
    <% else %>
      <h1>HOSTEL</h1>
    <% end %>

  </div>
  <div class="card-body">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Открыт в</th>
          <th>Кол. гостей</th>
          <th>Завтрак включон</th>
          <th>Оплата от гостей</th>
        </tr>
      </thead>
      <tbody>
        <% homes.each do |home| %>
          <tr class="<%= home.active? ? 'table-success' : '' %>">
            <td><%= home.number %></td>
            <td><%= strf_datetime home.started_at %></td>
            <td><%= home.number_of_guests %></td>
            <td><%= active_check home.breakfast_included %></td>
            <td><%= num_to_usd home.total_paid_by_guests %></td>
            <td colspan="5">
              <%= clink_to 'Посмотреть детально', home, 'fa-search' %> |
              <% if home.active? %>
                <%= clink_to 'Оформить оплату', new_top_up_url(home_id: home.id), 'fa-hand-holding-dollar' %> |
                <%= clink_to 'Добавить гость', new_guest_info_url(booking_id: home.bookings.where(finished_at: nil).last.id), 'fa-user-plus' %>
                <%= clink_to 'Закрыть комнату', close_home_path(home), 'fa-person-walking-luggage' %> |
              <% else %>
                <%= clink_to 'Открыть комнату', new_booking_path(home_id: home.id), 'fa-person-shelter' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
