<%= simple_form_for(expenditure) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :price, label: 'Цена' %>
    <%= f.input :expenditure_type, label: 'тип', collection: Expenditure.expenditure_types.keys.map { |unit| [Expenditure.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :comment, label: 'Коммент', placeholder: 'не обязательно' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Оформить' %>
  </div>
<% end %>
