<h4>Приходы</h4>
<table class="table table-hover shadow table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Цена<br><%= num_to_usd total_price %> </th>
      <th>Тип оплаты</th>
      <th>Оплата оформлено в</th>
      <th>гость пришел в</th>
      <th>Номер комнаты</th>
      <th>Коммент</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% top_ups.each do |top_up| %>
      <tr>
        <td><%= top_up.guest_info.name %></td>
        <td><%= num_to_usd top_up.price %></td>
        <td><%= num_to_usd top_up.payment_type %></td>
        <td><%= strf_datetime top_up.created_at %></td>
        <td><%= strf_datetime top_up.guest_info.created_at %></td>
        <td><%= link_to top_up.booking.home.number, home_path(top_up.booking.home) %></td>
        <td><%= top_up.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
