<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'YUKSALISH Hostel', root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Прочие
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Расходы", expenditures_url, class: 'dropdown-item' %>
          <%= link_to "Приходы", top_ups_url, class: 'dropdown-item' %>
          <%= link_to "Список всех гостей", guest_infos_url, class: 'dropdown-item' %>
          <%= link_to "смены", shifts_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <% message = Shift.unclosed.exists? ? 'Закрыть смену' : 'Открыть смену' %>
        <%= link_to message, toggle_shifts_path, class: 'nav-link', method: :post, data: {confirm: 'Вы уверены?'} %>
      </li>
    </ul>
  </div>
  <ul class="text-center navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item ml-auto">
        <% if Shift.unclosed.exists? %>
          <%= link_to "Смена №#{Shift.unclosed.last.id}", shift_path(Shift.unclosed.last) %>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Войти", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Зарегистрироваться", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
